[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
django-debug-toolbar = "*"
django-extensions = "*"
black = "*"
flake8 = "*"

[packages]
django = "*"
# Core
inquirer = "*"
drf-nested-routers = "*"
jsonfield2 = "*"
django-url-filter = "*"
django-localflavor = "*"
# settings
python-decouple = "*"
dj-database-url = "*"
uwsgi = "*"
psycopg2-binary = "*"
# Rest
djangorestframework = "*"
django-cors-middleware = "*"
# Project
django-oauth-toolkit = "*"
cryptography = "*"
celery = "*"
django-stdimage = "*"
libgravatar = "*"
djangorestframework-simplejwt = "*"
djangorestframework-camel-case = "*"
# Dependencies Heroku
gunicorn = "*"
django-heroku = "*"
# S3
django-storages = "*"
boto3 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[packages.pyjwt]
extras = [ "crypto",]
version = "*"

[packages.dj-rest-auth]
extras = [ "with-social",]
