[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
django-debug-toolbar = "*"
django-extensions = "*"
black = "*"
flake8 = "*"

[packages]
django = "*"
# Core
inquirer = "*"
drf-nested-routers = "*"
jsonfield2 = "*"
django-url-filter = "*"
django-localflavor = "*"
# settings
python-decouple = "*"
dj-database-url = "*"
uwsgi = "*"
psycopg2-binary = "*"
# Rest
djangorestframework = "*"
django-cors-middleware = "*"
# Project
django-oauth-toolkit = "*"
cryptography = "*"
pyjwt = {extras = ["crypto"],version = "*"}
celery = "*"
django-stdimage = "*"
libgravatar = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
