[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
django-debug-toolbar = "*"
django-extensions = "*"
black = "==19.10b0"
flake8 = "*"

[packages]
django = "*"
inquirer = "*"
drf-nested-routers = "*"
jsonfield2 = "*"
django-url-filter = "*"
django-localflavor = "*"
python-decouple = "*"
dj-database-url = "*"
uwsgi = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-cors-middleware = "*"
cryptography = "*"
celery = "*"
django-stdimage = "*"
libgravatar = "*"
pyjwt = {extras = ["crypto"],version = "*"}
djangorestframework-simplejwt = "*"
djangorestframework-camel-case = "*"
gunicorn = "*"
django-on-heroku = "*"
django-storages = "*"
boto3 = "*"
dj-rest-auth = {extras =['with_social'], version="*"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
